version: '3.9'
services:
  protobuf_gen:
    build:
      context: .
      dockerfile: protobuf_gen-dockerfile
    working_dir: /app/packages/grpcapi
    volumes:
      - ./packages/grpcapi:/app/packages/grpcapi
      - ./packages/grpcapi/buf.yaml:/app/buf.yaml
      - ./packages/grpcapi/buf.gen.yaml:/app/packages/grpcapi/buf.gen.yaml
    command: [ "generate" ]
    profiles: [ "tools" ]
